body {
  background-color: hsl(185deg, 41%, 84%);
  font-family: "Space Mono", monospace;
  margin: 0;
}
body .bg-green {
  background-color: hsl(183deg, 100%, 15%);
}
body .pressable {
  cursor: pointer;
}
body #logo {
  display: block;
  margin: 50px auto;
}
body input::-webkit-outer-spin-button,
body input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
body input[type=number] {
  -moz-appearance: textfield;
}
body .container {
  width: 720px;
  background-color: hsl(0deg, 0%, 100%);
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
body .container div {
  width: 340px;
}
body .container div p {
  margin: 5px 0;
}
body .container div .input-div {
  position: relative;
  margin: 30px 0;
}
body .container div .input-div p {
  color: hsl(186deg, 14%, 43%);
}
body .container div .input {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 15px;
  background-color: hsl(189deg, 41%, 97%);
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}
body .container div .input img {
  height: 50%;
}
body .container div .input input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: hsl(183deg, 100%, 15%);
  text-align: right;
  font-size: 24px;
  max-width: 70%;
  font-family: inherit;
}
body .container div .input input::placeholder {
  color: hsl(184deg, 14%, 56%);
}
body .container div .input input:focus, body .container div .input input:focus-visible {
  outline: none;
}
body .container div .input:focus-within {
  outline: 3px solid hsl(172deg, 67%, 45%);
}
body .container div .input-div p.invalid {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  color: red;
  visibility: hidden;
}
body .container div .input-div.invalid .input {
  outline: 3px solid red;
}
body .container div .input-div.invalid p.invalid {
  visibility: visible;
}
body .container div .grid-precentage {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
body .container div .grid-precentage .precentage {
  font-size: 24px;
  border-radius: 5px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: hsl(0deg, 0%, 100%);
  font-family: inherit;
}
body .container div .grid-precentage .precentage.selected {
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
}
body .container div .grid-precentage .custom {
  text-align: center;
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(189deg, 41%, 97%);
}
body .container div .grid-precentage .custom:focus {
  outline: 3px solid hsl(172deg, 67%, 45%);
  border-radius: 2px;
}
body .container div .grid-precentage .custom.selected {
  outline: 3px solid hsl(172deg, 67%, 45%);
  background-color: initial;
  color: initial;
  border-radius: 2px;
}
body .container #output-section {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
body .container #output-section .output {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
body .container #output-section .output .details {
  line-height: 1;
}
body .container #output-section .output .bold {
  color: hsl(0deg, 0%, 100%);
}
body .container #output-section .output .small {
  color: hsl(184deg, 14%, 56%);
  font-size: small;
}
body .container #output-section .output h1 {
  color: hsl(172deg, 67%, 45%);
}
body .container #output-section button {
  width: 100%;
  margin: auto auto 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(172deg, 67%, 45%);
  border: none;
  border-radius: 5px;
}
body .container #output-section button:disabled {
  opacity: 0.3;
  cursor: default;
}

@media (max-width: 800px) {
  body .container {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
  }
  body .container div {
    width: 100%;
  }
  body .container div .input-div:first-child {
    margin-top: 0;
  }
  body .container div .grid-precentage {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/*# sourceMappingURL=styles.css.map */
