body{

    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono',monospace;

    .bg-green{
        background-color: hsl(183, 100%, 15%);
    }

    .pressable{

        cursor: pointer;

    }

    #logo{

        display: block;
        margin: 50px auto;

    }

    .container{
        width: 720px;
        background-color: hsl(0, 0%, 100%);
        margin: auto;
        padding: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;

        div{

            p{
                margin: 5px 0
            }
            
            .input-div{

                margin: 30px 0;

                p{

                    color: hsl(186, 14%, 43%);

                }
                
            }

            width: 340px;
            .input{

                width: 100%;
                display: flex;
                justify-content: center;
                box-sizing: border-box;
                padding: 5px 15px;
                background-color: hsl(189, 41%, 97%);
                justify-content: space-between;
                align-items: center;

                img{
                    height: 50%;
                }

                input{
                    flex: 1;
                    border: none;
                    background-color: transparent;
                    color: hsl(184, 14%, 56%);
                    text-align: right;
                    font-size: 24px;
                    max-width: 70%;
                    font-family: inherit;
                }

                input:focus, input:focus-visible{
                    outline: none;
                }

            }

            .grid-precentage{

                display: grid;
                gap: 15px;
                grid-template-columns: repeat(3,minmax(0,1fr));

                .precentage{

                    font-size: 24px;
                    border-radius: 5px;
                    border: none;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    color:hsl(0, 0%, 100%);
                    font-family: inherit;

                }

                .custom{

                    text-align: center;
                    color: hsl(186deg, 14%, 43%)

                }

            }

        }

        #output-section{

            position: relative;
            box-sizing: border-box;
            padding:30px;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            .output{

                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;

                .bold{
                    color: hsl(0, 0%, 100%);
                }
                .small{
                    color:  hsl(184, 14%, 56%);
                    font-size: small;
                }

                h1{
                    color:hsl(172, 67%, 45%)
                }

            }

            button{

                width: 100%;
                margin: auto auto 0;
                padding-top: 5px;
                padding-bottom: 5px;
                font-size: 24px;

            }

        }

    }

}